@font-face{
	font-family: Ghost;
	src:url(../fonts/ghost.ttf);
}

body{
	background:#3ECBD2;
}

.ghost{
	font-family:Ghost;
}

.big{
	font-size:50px;
}

.menu{
	background:#222;
}

.navbar{
	margin-bottom:0px;
	border:none;
}

.navbar-collapse{
	padding:0px;
}