@font-face{
	font-family: Ghost;
	src:url(../fonts/ghost.ttf);
}

body{
	background:#3ECBD2;
}

.ghost{
	font-family:Ghost;
}

.big{
	font-size:50px;
}

.shadow{
	text-shadow:5px 5px 3px rgba(0, 0, 0, .7);
}

.blue{
	color:#2B1BF5;
}

.menu{
	background:#222;
}

.navbar{
	margin-bottom:0px;
	border:none;
}

.navbar-collapse{
	padding:0px;
}