@font-face{
	font-family: Ghost;
	src:url(../fonts/ghost.ttf);
}

body{
	background:#3ECBD2;
}

.ghost{
	font-family:Ghost;
}

.big{
	font-size:60px;
}

.shadow{
	text-shadow:5px 5px 3px rgba(0, 0, 0, .7);
}

.blue{
	color:#2B1BF5;
}

.menu{
	background:#222;
}

.header{
	padding:20px 0px;
}

.header > h2{
	margin-top:40px;
}

.navbar{
	margin-bottom:0px;
	border:none;
}

.navbar-collapse{
	padding:0px;
}

.logo{
	border:2px solid #fff;
	box-shadow:5px 5px 3px rgba(0, 0, 0, .7),
			   3px -3px 5px rgba(0, 0, 0, .7),
			   inset 10px 10px 0px rgba(255, 255, 255, .5);
}